* { box-sizing: border-box; margin: 0; padding: 0;}
#container { width: 1200px; margin: auto;}
#container > header { background-color: darkcyan; height: 160px; position: relative;}
#container > header > #logo {
    position: absolute; top: 30px; left: 50px; width: 100px;
}
#container > header > #giohang {
    position: absolute; bottom: 30px;right: 30px; width: 120px;
    font-size: 20px; color: yellow; text-align: center;
}

#container > nav {
    background-color: orange; height: 60px; 
    display: flex; justify-content: center; align-items: center;
}
#container > nav > ul {
    list-style: none; display: flex ; font-size: 1.2em; 
}
#container > nav > ul > li > a {
    color: white; text-decoration: none; margin-right: 10px;
}
#container > nav > ul > li > a:hover {
    color:aquamarine ; text-decoration: underline; font-weight: bold;
}
#container > footer {
    margin: 20px 0; height: 90px;
    display: flex; align-items: center; justify-content: center;
    font-size: 1.5em;
    background-color: darkcyan;
    color:white;
}
.listsp > h2 {
   text-align: center;
   margin-top: 30px; 
}
.listsp #data {
    display: grid; 
    grid-template-columns:  auto auto auto auto;
    gap: 20px;
    grid-template-rows: 380px 380px;
}
.listsp #data > .sp {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
.listsp #data > .sp > h3{
    color: darkcyan;
    height:45px;
    text-align: center;
    padding: 10px;
}
.listsp #data > .sp >img{
    max-width: 90%;
    height: 220px;
}
.listsp #data > .sp > .gia{
    font-size: 24px;
    color: red;
    margin: 15px 0;
}
.listsp #data > .sp > .btnchon{
    width: 90px; height: 35px; font-size: 20px; color: aliceblue;
    background-color: darkcyan;
    border: none;
    border-radius: 5px;
}
.listsp #data > .sp > .btnxem{
    width: 90px; height: 35px; font-size: 20px; color: aliceblue;
    background-color: orange;
    border: none;
    border-radius: 5px;
}
#doitac > h2 {
    margin-top: 30px; text-align: center;
}
#doitac #data {
    display: grid; 
    grid-template-columns:  auto auto auto auto auto auto;
    gap: 30px 20px;
    
}
#doitac #data  img {
    max-width: 100%; height: auto;
    border: 1px solid darkblue;
    border-radius: 50%;
}
#chitietsp { 
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 400px;
    gap: 30px;
}
#chitietsp > div:nth-child(1) {
    display: flex; align-items: center; 
}
#chitietsp > div:nth-child(1) img { width: 100%; }

#chitietsp > div:nth-child(2) > h1 {
    font-size: 32px;
    margin-top: 15px;
}
#chitietsp div:nth-child(2) >div {
    margin-top:15px ;
    font-size: 1.3em;
}
#chitietsp > div:nth-child(2) >div > span{ 
    display: inline-block; width: 150px;
}
#chitietsp div:nth-child(2) #soluong {
    width: 90px; text-align: center; padding: 5px;
}
#chitietsp div:nth-child(2) button {
    width: 140px; padding: 8px; margin-left: 20px;
}


#splienquan > h4{
    font-size: 1.5em; background-color: darkcyan; 
    padding: 10px; color: white
}
#splienquan > #data {
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    gap: 20px;
    
}
#splienquan > #data > .sp > img{
    max-width: 100%; 
    height: auto;
}
#splienquan > #data > div {
    text-align: center; border: 1px solid darkcyan; padding: 10px;
}